*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #19647E;
    color:white;
    height: 5rem;
    line-height: 5rem;
}
.choice
{
    height: 160px;
    width: 160px;
}
img
{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid transparent;
}
img:hover
{
    border: 3px #19647E solid;
    cursor: pointer;
}
.choices
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}

.score-board
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    gap:5rem;
}
#user-score,#comp-score
{
    font-size: 4rem;
}
#msg
{
    border-radius: 7px;
    background-color: #218A97;
    color: #EEE5E5;
    font-size: 2rem;
    display: inline;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding: 0.4rem;

}
footer{
    background-color:black;
    padding: 0.3rem;
    margin-top: 0.5rem;
    color: white;
}